## Условие 1:
Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код
Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
import random as rnd

In [21]:
min_fruit_value: int = 1
max_fruit_value: int = 10
fruits: dict[str, int] = {
    'apples':rnd.randint(min_fruit_value, max_fruit_value),
    'bananas':rnd.randint(min_fruit_value, max_fruit_value),
    'peaches':rnd.randint(min_fruit_value, max_fruit_value),
}
fruits

{'apples': 1, 'bananas': 6, 'peaches': 6}

In [30]:
sum(fruits.values())

13

In [28]:
def fruits_sum(d: dict)-> int:
    return sum(fruits.values())

In [29]:
fruits_sum(fruits)

13

## Условие 3:

In [31]:
# Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.
# Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
# Используйте list comprehensions

[100, 125, -90, 345, 655, -1, 0, 200]

In [35]:
data: list[int] = [100, 125, -90, 345, 655, -1, 0, 200]

In [39]:
data_wo_negative_values: list[int] = [el for el in data if el > 0]
data_wo_negative_values

[100, 125, 345, 655, 200]

In [40]:
sum(data_wo_negative_values)

1425

## Условие 4:

In [ ]:
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [42]:
import datetime

In [72]:
purchase_date_str: list[str] = [
    '2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', 
    '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
    '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
    '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purchase_amount: list[int]= [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,
                             4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
m: int = 11

In [73]:
len(purchase_amount)

30

In [74]:
s: int = 0
if len(purchase_date_str) == len(purchase_amount):
     s = sum([purchase_amount[i] for i, el in enumerate(purchase_date_str) 
              if datetime.datetime.strptime(el, '%Y-%m-%d').month == m])
s

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [77]:
def purchase_amount_by_mont(purchase_date_str: list[str], purchase_amount: list[int])-> dict[int, int]:
    r: dict[int, int]  = {}
    if len(purchase_date_str) == len(purchase_amount):
        for i, el in enumerate(purchase_date_str):
            m = datetime.datetime.strptime(el, '%Y-%m-%d').month
            if m in r.keys():
                r[m] += purchase_amount[i]
            else:
                r[m] = purchase_amount[i]
    return r

In [78]:
purchase_amount_by_mont(purchase_date_str, purchase_amount)

{9: 25647, 12: 45452, 10: 28645, 11: 25098}