## 1 задача
1 задача
Скачать данные по ссылке https://www.kaggle.com/datasets/shivachandel/kc-house-data
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [275]:
import sys
import pandas as pd

In [276]:
df = pd.read_csv('./kc_house_data.csv')

In [277]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

## 2 задача
Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [278]:
# выведем размер датасета (строк, признаков)
df.shape

(21613, 21)

In [279]:
# выведем список признаков
df.columns.tolist()

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [280]:
# Выведеинформацию о типах данных 
df.info() 
# Все признаки, за исключением одного имеют числовой тип
# Пропусков в данных не найдено

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

In [281]:
# Выведем основные статистики по всем числовым признакам
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21611.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.396095,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.128162,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [282]:
# Проанализируем отдельные признаки:
# Price: Все цены расположены в диапазоне от 7.5*10**4 - 7,7*10**6.
# Медиана меньшее среднего значения, что говорит о том, что более половины объетов имеют цену ниже средней. 
# Выявленное смещение не большое.

In [283]:
df['bedrooms'].value_counts()
# Наибольшее количество объектов имеют 3 спальни.
# Есть небольшое количество объектов, имеющих 0, 9, 10 спален, и по одному объекту, имеющиему 33 и 11 спален.
# Желательно бы проверить эти обеъкты не являются ли они выборосами.
# Распределение признака можно оценить как нормальное.

3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [284]:
df['floors'].value_counts()
# Наибольшая этажность домов, 3.5. этажа. Т.к. этажи это целые числа, возможно это искажения данных.
# Среднее значение 1,494 практически совпдает с медианой 1,5. 
# Мода равна 1. Наибольшее количество объектов имеет 1 этаж.
# Распределение признака не похоже на нормально. Сильная ассимметрия влево.

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [285]:
# выведем информацию по единственному не числовому признаку.
df.describe(include=['object'])
# среди признаков только один не числовой признак

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [286]:
# предобразуем информацию в даты
# определим минимальную, максимальную, медианную дату в признаке
print(pd.to_datetime(df['date']).min())
print(pd.to_datetime(df['date']).max())
print(pd.to_datetime(df['date']).median())
print(pd.to_datetime(df['date']).mean())
print(pd.to_datetime(df['date']).max() - pd.to_datetime(df['date']).min()) # разница между минимальным и 
# значением

2014-05-02 00:00:00
2015-05-27 00:00:00
2014-10-16 00:00:00
2014-10-29 04:38:01.959931648
390 days 00:00:00

## 3 задача
Ответьте на несколько вопросов

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [287]:
print(f'Стоимость: минимальное значение - {df["price"].min()}, максимальное значение - {df["price"].max()}')

Стоимость: минимальное значение - 75000.0, максимальное значение - 7700000.0

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [288]:
# не понятно какой признак обозначает общую площадь. Описания датасета нет.
# предположим, что общая площадь = sqft_basement + sqft_above
df['sqft_basement'].sum() + df['sqft_above'].sum(), df['sqft_living'].sum()
# сумма подвала и надземных этажей оказалась даже чуть меньше жилой
# не понятно что взять за общую площадь дома.

(44949413.0, 44952873)

In [289]:
#пусть будет так
round(df['sqft_living'].mean()/ (df['sqft_basement'] + df['sqft_above']).mean(), 4)

1.0

### 3.3 Как много домов с разными этажами в данных?

In [290]:
# не очень понятно что значит с разными этажами в данных
# анализ признака floor был сделан выше.

### 3.4 Насколько хорошие состояния у домов в данных?

In [291]:
# не понятно какой признак описывает состояние домов в данных.
# предположим, что это grade
fn = 'grade'
print(df[fn].value_counts().sort_index()) # отсортируем значения в порядке роста признака grade
# наибольшее количество домов имеют 7 грейд.
# 
g = [6,7,8]
# df[df['grade'].isin(g)]['grade'].size/df.shape[0]
print(f'доля домов с грейдом {g} - {round(df[df[fn].isin(g)][fn].size/df.shape[0],4)}')

1        1
3        3
4       29
5      242
6     2038
7     8981
8     6068
9     2615
10    1134
11     399
12      90
13      13
Name: grade, dtype: int64
доля домов с грейдом [6, 7, 8] - 0.7906

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [292]:
#print(f'Дата постройки первого дома : {pd.to_datetime(df["yr_built"]).min()}')
#print(f'Дата постройки последнего дома: {pd.to_datetime(df["yr_built"]).max()}')
print(f'Дата постройки первого дома : {df["yr_built"].min()}')
print(f'Дата постройки последнего дома: {df["yr_built"].max()}')

Дата постройки первого дома : 1900
Дата постройки последнего дома: 2015

## 4 задача
Ответьте на несколько вопросов

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [293]:
round(df[df['bedrooms'].isin([2])]['price'].mean(),2)

401372.68

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [294]:
round(df[df['price'] > 600_000]['sqft_above'].mean(),2)

2444.87

In [295]:
#%%timeit
(df['sqft_basement'] + df['sqft_above'])[df['price'] > 600_000].dropna().mean()

2895.3681854516385

In [296]:
#%%timeit
# предположим, что есть пропуски, хотя на самом деле их нет
(df['sqft_basement'] + df['sqft_above']).to_frame(name='sqft_total')[df['price'] > 600_000].dropna().mean()

sqft_total    2895.368185
dtype: float64

In [297]:
# совсем экзотический способ
#%%timeit
pd.concat([(df['sqft_basement'] + df['sqft_above'])\
           .to_frame(name='sqft_total'), df['price']], axis=1)\
           .query('price > 600_000')\
           ['sqft_total'].mean()

2895.3681854516385

In [298]:
# вычисление без преобразования в дата фрейм примерно в 2.5 раза быстрее

### 4.3 Как много домов коснулся ремонт?

In [299]:
# предположим, что у домов, где не было ремонтов признак yr_renovated > 0
print(f'Количество отремонтированных домов : {df[df["yr_renovated"] > 0]["yr_renovated"].size}')

Количество отремонтированных домов : 914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [300]:
df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()

1488885.1175298805

## 5 задача
Ответьте на несколько вопросов

### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [301]:
# проанализиуем признак "waterfront"
df['waterfront'].value_counts()
# признак имеет значение 0 или 1. Предположим, что 1 это в вид на набережную.

0    21450
1      163
Name: waterfront, dtype: int64

In [302]:
print(f"Количество вариантов:\
 {df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)].shape[0]}")

Количество вариантов: 41

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [303]:
# проанализируем признак view
df['view'].value_counts()
# преположим, что в признаке закодирован красивый вид из окна, при чем, чем больше значение признака, тем лучше вид

0    19489
2      963
3      510
1      332
4      319
Name: view, dtype: int64

In [304]:
df1 = df[((df['view'] > 3) | (df['waterfront'] > 1)) & (df['grade'] >= 10) & (df['yr_built'] > 1980)]
print(f"Ценовой диапазон от  {df1['price'].min()} до {df1['price'].max()} денежных единиц")

Ценовой диапазон от  380000.0 до 6885000.0 денежных единиц

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [305]:
df[(df['sqft_basement'] == 0) & (df1['floors'] == 2) & (df['price'] <= 150_000)]

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [306]:
# предложений у казанными условиями нет.
# минимальная цена для домов из обозначенных условий начинается с 535000 денежных единиц

In [307]:
df[(df['sqft_basement'] == 0) & (df1['floors'] == 2)]['price'].min()

535000.0

In [308]:
# Если предположить, что в условии ошибка
sq_basement_min = 0
sq_basement_max = 0
def sq_basement_to_str(sq_basement_min: int, sq_basement_max: int)-> str:
    r = 'без подвала' if sq_basement_min == 0 and sq_basement_max == 0 else f'с площадью подвала от {sq_basement_min} до {sq_basement_max} ft.кв'
    return r
f = 2
p = 1_500_000
print(f"Средняя оценка состояния домов без подвала, этажность\
 {sq_basement_to_str(sq_basement_min, sq_basement_max)}, стоимостью менее {p} :\
 {df[(df['sqft_basement'] >= sq_basement_min) & (df['sqft_basement'] <= sq_basement_max) & (df1['floors'] == f) & (df['price'] <= p)]['grade'].mean()}")

Средняя оценка состояния домов без подвала, этажность без подвала, стоимостью менее 1500000 : 10.5